@charset "utf-8";

footer {
  background-color: #000;
  .main_footer{
    padding: 50px 0 60px;
    .nav_footer{
      text-align: center;
      ul{
        li{
          display: inline-block;
          margin-right: 60px;
          a{
            color: #fff;
            font-size: rem(15);
            text-transform: uppercase;
          }
        }
      }
    }
  }
}