@charset "utf-8";

footer {
  background-color: #000;
  .main_footer{
    margin: 0 auto;
    padding: vw(30) 0;
    .nav_footer{
      text-align: center;
      margin-top: vw(20);
      ul{
        li{
          display: block;
          padding: vw(15) 0;
          &:not(:last-child){
            border-bottom: 1px dotted #ccc;
          }
          a{
            color: #fff;
            font-size: vw(26);
            text-transform: uppercase;
          }
        }
      }
    }
  }
}