@charset "utf-8";

.header {
  position: fixed;
  z-index: 99;
  background: #000;
  width: 100%;
  top: 0;
  left: 0;
  .main_header {
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: vw(20) 0;
      position: relative;
      .left {
        h1 {
          font-size: vw(28);
          line-height: vw(40);
          font-family: 'Arial';
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
          width: vw(400);
          a {
            color: #fff;
          }
        }
      }
      .right {
        .menu_sp {
          display: inline-block;
          .icon_menu {
            position: relative;
            display: inline-block;
            width: vw(50);
            height: vw(50);
            .icon_inner{
              position: absolute;
              width: vw(50);
              height: vw(3);
              transition-timing-function: cubic-bezier(.55,.055,.675,.19);
              transition-duration: .1s;
              transition-property: -webkit-transform;
              transition-property: transform;
              transition-property: transform,-webkit-transform;
              background-color: #fff;
              &:before,&:after{
                position: absolute;
                width: vw(50);
                height: vw(3);
                transition-timing-function: cubic-bezier(.55,.055,.675,.19);
                transition-duration: .1s;
                transition-property: -webkit-transform;
                transition-property: transform;
                transition-property: transform,-webkit-transform;
                background-color: #fff;
              }
            }
            .icon_inner{
              transition-timing-function: cubic-bezier(.55,.055,.675,.19);
              transition-duration: .3s;
              top: 50%;
              display: block;
              &:before,&:after{
                content: '';
                display: block;
              }
              &:before{
                top: vw(-12);
                transition: top .1s .34s ease-in,opacity .1s ease-in;
              }
              &:after {
                bottom: vw(-12);
                transition: bottom .1s .34s ease-in,-webkit-transform .3s cubic-bezier(.55,.055,.675,.19);
                transition: bottom .1s .34s ease-in,transform .3s cubic-bezier(.55,.055,.675,.19);
                transition: bottom .1s .34s ease-in,transform .3s cubic-bezier(.55,.055,.675,.19),-webkit-transform .3s cubic-bezier(.55,.055,.675,.19);
              }
            }
            &.open{
              .icon_inner {
                transition-delay: .14s;
                transition-timing-function: cubic-bezier(.215,.61,.355,1);
                -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
                &:before {
                  top: 0;
                  transition: top .1s ease-out,opacity .1s .14s ease-out;
                  opacity: 0;
                }
                &:after {
                  bottom: 0;
                  transition: bottom .1s ease-out,-webkit-transform .3s .14s cubic-bezier(.215,.61,.355,1);
                  transition: bottom .1s ease-out,transform .3s .14s cubic-bezier(.215,.61,.355,1);
                  transition: bottom .1s ease-out,transform .3s .14s cubic-bezier(.215,.61,.355,1),-webkit-transform .3s .14s cubic-bezier(.215,.61,.355,1);
                  -webkit-transform: rotate(-90deg);
                  transform: rotate(-90deg);
                }
              }
            }
          }
        }
        .nav_menu {
          position: absolute;
          width: vw(768);
          height: 0;
          top: 0;
          left: vw(-20);
          z-index: 99;
          visibility: hidden;
          backface-visibility: hidden;
          opacity: 0;
          transition: all 0.5s linear;
          &.open{
            visibility: visible;
            backface-visibility: visible;
            opacity: 1;
          }
          ul {
            li {
              a {
                background: rgba(0, 0, 0, 0.8);
                border-bottom: 1px solid rgba(255,255,255,0.8);
                font-size: vw(26);
                font-weight: 400;
                font-family: "Lora", serif;
                line-height: 1;
                color: #fff;
                display: block;
                padding: vw(20) 0;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                &.tel {
                  margin-right: vw(80);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  &::before {
                    position: relative;
                    content: "";
                    width: vw(20);
                    height: vw(20);
                    background: url('../img/icon_phone.png') 0 0 no-repeat;
                    background-size: contain;
                    margin-right: vw(15);
                  }
                }
                &.mail {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  &::before {
                    position: relative;
                    content: "";
                    width: vw(20);
                    height: vw(16);
                    background: url('../img/icon_envelop.png') 0 0 no-repeat;
                    background-size: contain;
                    margin-right: vw(15);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
