@charset "utf-8";
.header {
  position: relative;
  z-index: 99;
  background: #000;
  width: 100%;
  top: 0;
  left: 0;
  min-width: 1200px;
  &.fixed {
    position: fixed;
    background: rgba(#000,0.42);
  }
  .main_header {
    padding: 63px 0 0;
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 30px;
      .left {
        h1 {
          font-size: 2.268rem;
          line-height: 3.9rem;
          font-family: 'Arial';
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
          a {
            color: #fff;
          }
        }
      }
      .right {
        nav {
          ul {
            display: flex;
            li {
              &:not(:last-child) {
                margin-right: 60px;
              }
              a {
                font-size: 1.5rem;
                line-height: 1;
                color: #fff;
                position: relative;
                text-transform: uppercase;
                display: inline-block;
                padding: 0 0 10px;
                &:hover {
                  &::after {
                    width: 100%;
                  }
                }
                &::after {
                  position: absolute;
                  content: "";
                  width: 0;
                  height: 3px;
                  background: #fff;
                  left: 0;
                  bottom:0;
                  transition: all 0.3s ease;
                }
              }
            }
          }
        }
      }
    }
  }
}