html {
  font-size: vw($config_base_fontsize);
}
img {
  width: 100%;
  height: auto;
}
.show_pc {
  display: none !important;
}
.wrapper {
  min-width: 320px;
}
.row{
  padding: 0 vw(20);
}
.ttl_section{
  font-size: vw(40);
  font-weight: bold;
  font-family: Arial;
  line-height: 1;
  margin-bottom: vw(30);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
/** Home Page **/
.st_banner{
  background: url(../img/bkg_banner.jpg) no-repeat;
  background-size: cover;
  padding: vw(50) 0;
  h2 {
    font-size: vw(40);
    font-weight: bold;
    text-shadow: -2px 2px #000;
    color: #fff;
    text-align: center;
    font-family: Arial;
    line-height: vw(50);
  }

  p {
    font-size: vw(22);
    color: #fff;
    line-height: vw(40);
    color: #fff;
    text-align: center;
    padding: vw(30) 0;
    margin: vw(30) 0;
    background: url(../img/bkg_txt_banner.png) center center no-repeat;
    background-size: cover;
  }

  a {
    font-size: vw(18);
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    display: block;
    width: vw(180);
    margin: vw(30) auto 0;
    padding: vw(20) 0;
    line-height: 1;
    color: #000;
    background-color: #f5f5f5;
  }
}
.st_about{
  background-color: #000;
  padding: vw(50) 0;
  pre{
    font-size: vw(24);
    line-height: vw(40);
    text-align: center;
    color: #fff;
  }
  .bx_about{
    margin: vw(60) 0;
    position: relative;
    /* &:before{
      content:"";
      background: url(../img/line_bk.png) no-repeat;
      background-size: contain;
      width: vw(750);
      height: 1px;
      position: absolute;
      top: vw(-45);
      left: 50%;
      transform: translateX(-50%);
    } */
    li{
      text-align: center;
      margin-bottom: vw(40);
      span{
        font-size: vw(28);
        line-height: vw(40);
        color: #000;
        background-color: #fff;
        width: vw(100);
        height: vw(100);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        overflow: hidden;
        font-weight: bold;
        margin: 0 auto vw(30);
      }
    }
    p{
      color: #fff;
      font-size: vw(24);
      line-height: vw(40);
      text-align: center;
    }
  }
}
.st_company_profile{
  background: url(../img/bkg_profile.jpg) fixed center center no-repeat;
  background-size: cover;
  padding: vw(50) 0;
  position: relative;
  z-index: 2;
  .overplay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  .main_company_profile {
    .bx_custom_w{
      text-align: center;
      span{
        color: #fff;
        font-size: vw(24);
        line-height: vw(40);

        margin: vw(30) 0 vw(10);
        display: block;
      }
      > p{
        font-size: vw(25);
        line-height: vw(40);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #fff;

      }
    }
  }
}
.st_business_ctn{
  background-color: #000;
  padding: vw(50) 0;
  p{
    font-size: vw(24);
    line-height: vw(40);
    text-align: center;
    color: #fff;
  }
  .bx_business{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: vw(60) 0 vw(-40) vw(-10);
    li{
      width: calc(50% - #{vw(10)});
      margin: 0 0 vw(40) vw(10);
      a{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        span{
          font-size: vw(24);
          display: block;
          line-height: vw(40);
          color: #fff;
          margin-bottom: vw(20);
          padding-left: vw(15);
          text-transform: uppercase;
        }
      }
      img{
        width: vw(359);
        height: vw(280);
        object-fit: cover;
      }
    }
  }
}

/** About **/
.st_page_about{
  background: url(../img/about/bkg_about.jpg) center center no-repeat;
  background-size: cover;
  padding: vw(60) 0 vw(100);
  position: relative;
  z-index: 2;
  .overplay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  .ttl_section{
    margin-bottom: vw(40);
  }
  .bx_about{
    li{
      background-color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: vw(40) vw(40);
      &:not(:last-child){
        margin-bottom: vw(30);
      }
      figure{
        img{
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      p{
        font-size: vw(24);
        line-height: vw(40);
        color: #fff;
        margin-bottom: vw(40);
      }
    }
  }
}

/** Business **/
.st_page_business{
  background: url(../img/business/bkg_business.jpg) center center no-repeat;
  background-size: cover;
  padding: vw(60) 0;
  position: relative;
  z-index: 2;
  .overplay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .ttl_section{
    margin-bottom: vw(40);
  }
  .bx_business{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: vw(60) 0 vw(-40) vw(-10);
    li{
      width: calc(50% - #{vw(10)});
      margin: 0 0 vw(40) vw(10);
      a{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        span{
          order: 1;
          font-size: vw(24);
          display: block;
          line-height: vw(40);
          color: #fff;
          margin-bottom: vw(20);
          padding-left: vw(15);
          text-transform: uppercase;
        }
      }
      figure{
        order: 2;
        width: vw(359);
        img{
          width: 100%;
          height: vw(280);
          object-fit: cover;
        }
      }
    }
  }
}

/** Comany Profile **/
.st_page_profile{
  .overplay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .ttl_section{
    margin-bottom: 0;
    padding: vw(40) 0;
    background-color: #000;
    text-align: left;
  }
  .main_company_profile{
    text-align: left;
    background: url(../img/company/bkg_company.jpg) center center no-repeat;
    background-size: cover;
    padding: vw(50) 0;
    position: relative;
    z-index: 2;
    span{
      color: #fff;
      font-size: vw(24);
      line-height: vw(40);

      margin: vw(30) 0 vw(10);
      display: block;
    }
    p{
      font-size: vw(25);
      line-height: vw(40);
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      color: #fff;
    }
  }
}