html {
  font-size: #{$config_base_fontsize}px;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.wrapper {
  min-width: 1200px;
}
.show_sp {
  display: none!important;
}
body {
  font-feature-settings : "palt";
}

.ttl_section{
  font-size: rem(40);
  font-weight: bold;
  font-family: Arial;
  line-height: 1;
  margin-bottom: 24px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.bx_custom_w{
  max-width: 997px;
  margin: 0 auto;
}

/** Home Page **/
.st_banner{
  background: url(../img/bkg_banner.jpg) no-repeat;
  background-size: cover;
  // padding: 150px 0 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h2 {
    font-size: rem(50);
    font-weight: bold;
    text-shadow: -2px 2px #000;
    color: #fff;
    text-align: center;
    font-family: Arial;
    line-height: 65px;
  }

  p {
    font-size: rem(30);
    color: #fff;
    line-height: 40px;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin: 50px 0 24px;
    background: url(../img/bkg_txt_banner.png) center center no-repeat;
    background-size: cover;
  }

  a {
    font-size: rem(15);
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    display: block;
    width: 158px;
    margin: 50px auto 0;
    padding: 17px 0;
    line-height: 1;
    color: #000;
    background-color: #f5f5f5;
  }
}
.st_about{
  background-color: #000;
  padding: 129px 0 95px;
  .bx_about{
    display: flex;
    justify-content: center;
    margin: 50px -24px 0;
    position: relative;
    li{
      width: 33.33%;
      padding: 0 24px;
      span{
        font-size: 26px;
        color: #000;
        background-color: #fff;
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        overflow: hidden;
        font-weight: bold;
        margin:0 auto 27px;
      }
    }
    p{
      color: #fff;
      font-size: rem(15);
      line-height: 25px;
      text-align: left
    }
  }
}
.st_company_profile{
  background: url(../img/bkg_profile.jpg) fixed center center no-repeat;
  background-size: cover;
  padding: 67px 0 70px;
  position: relative;
  z-index: 2;
  .overplay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  .main_company_profile {
    .bx_custom_w{
      text-align: center;
      span{
         color: #fff;
         font-size: rem(15);

         margin: 20px 0 10px;
         display: block;
      }

      > p{
        font-size: rem(20);
        line-height: 25px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
      }
    }
  }
}
.st_business_ctn{
  background-color: #000;
  padding: 49px 0 60px;
  .bx_business{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 45px  0 -30px -18px;
    li{
      width: calc(50% - 18px);
      margin: 0 0 30px 18px;
      a{
        display: block;
        span{
          font-size: rem(15);
          display: block;
          line-height: 25px;
          color: #fff;
          margin-bottom: 20px;
          padding-left: 10px;
          text-transform: uppercase;
        }
      }
      img{
        width: 100%;
        height: 298px;
        object-fit: cover;
      }
    }
  }
}

/** About **/
.st_page_about{
  background: url(../img/about/bkg_about.jpg) center center no-repeat;
  background-size: cover;
  padding: 60px 0 116px;
  position: relative;
  z-index: 2;
  .overplay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  .ttl_section{
    margin-bottom: 55px;
  }
  .bx_about{
    li{
      background-color: #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 72px 0 90px;
      &:not(:last-child){
        margin-bottom: 42px;
      }
      p{
        font-size: rem(15);
        line-height: 25px;
        color: #fff;
        width: calc(100% - 348px);
        padding: 0 20px 0 0;
      }
      figure {
        width: 348px;
        img {
          width: 348px;
          height: 231px;
          object-fit: cover;
        }
      }
    }
  }
}

/** Business **/
.st_page_business{
  background: url(../img/business/bkg_business.jpg) center center no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  z-index: 2;
  .overplay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .ttl_section{
    margin-bottom: 55px;
  }
  .bx_business{
    li{
      background-color: rgba(#fff,0.1);
      &:not(:last-child){
        margin-bottom: 24px;
      }
      a{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      figure{
        width: 295px;
      }
      span{
        font-size: rem(25);
        line-height: 25px;
        color: #fff;
        text-transform: uppercase;
        display: block;
        width: calc(100% - 295px);
        padding-left: 104px;
      }
    }
  }
}

/** Comany Profile **/
.st_page_profile{
  .overplay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .ttl_section{
    margin-bottom: 0;
    padding: 46px 0 79px;
    background-color: #000;
    span {
      text-align: left;
      display: block;
    }
  }
  .main_company_profile{
    text-align: left;
    background: url(../img/company/bkg_company.jpg) center center no-repeat;
    background-size: cover;
    padding: 45px 0 73px;
    position: relative;
    z-index: 2;
    span{
      color: #fff;
      font-size: rem(15);
      margin: 20px 0 10px;
      display: block;
    }
    p{
      font-size: rem(20);
      line-height: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      color: #fff;
    }
  }
}