@media screen and (min-width: 769px), print {
  .header {
    position: relative;
    z-index: 99;
    background: #000;
    width: 100%;
    top: 0;
    left: 0;
    min-width: 1200px;
  }
  .header.fixed {
    position: fixed;
    background: rgba(0, 0, 0, 0.42);
  }
  .header .main_header {
    padding: 63px 0 0;
  }
  .header .main_header .bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 30px;
  }
  .header .main_header .bottom .left h1 {
    font-size: 2.268rem;
    line-height: 3.9rem;
    font-family: 'Arial';
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
  }
  .header .main_header .bottom .left h1 a {
    color: #fff;
  }
  .header .main_header .bottom .right nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .main_header .bottom .right nav ul li:not(:last-child) {
    margin-right: 60px;
  }
  .header .main_header .bottom .right nav ul li a {
    font-size: 1.5rem;
    line-height: 1;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 0 10px;
  }
  .header .main_header .bottom .right nav ul li a:hover::after {
    width: 100%;
  }
  .header .main_header .bottom .right nav ul li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background: #fff;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  html {
    font-size: 10px;
  }
  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .wrapper {
    min-width: 1200px;
  }
  .show_sp {
    display: none !important;
  }
  body {
    -moz-font-feature-settings: "palt";
         font-feature-settings: "palt";
  }
  .ttl_section {
    font-size: 4rem;
    font-weight: bold;
    font-family: Arial;
    line-height: 1;
    margin-bottom: 24px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  .bx_custom_w {
    max-width: 997px;
    margin: 0 auto;
  }
  /** Home Page **/
  .st_banner {
    background: url(../img/bkg_banner.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .st_banner h2 {
    font-size: 5rem;
    font-weight: bold;
    text-shadow: -2px 2px #000;
    color: #fff;
    text-align: center;
    font-family: Arial;
    line-height: 65px;
  }
  .st_banner p {
    font-size: 3rem;
    color: #fff;
    line-height: 40px;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin: 50px 0 24px;
    background: url(../img/bkg_txt_banner.png) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .st_banner a {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    display: block;
    width: 158px;
    margin: 50px auto 0;
    padding: 17px 0;
    line-height: 1;
    color: #000;
    background-color: #f5f5f5;
  }
  .st_about {
    background-color: #000;
    padding: 129px 0 95px;
  }
  .st_about .bx_about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px -24px 0;
    position: relative;
  }
  .st_about .bx_about li {
    width: 33.33%;
    padding: 0 24px;
  }
  .st_about .bx_about li span {
    font-size: 26px;
    color: #000;
    background-color: #fff;
    width: 75px;
    height: 75px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 100%;
         border-radius: 100%;
    overflow: hidden;
    font-weight: bold;
    margin: 0 auto 27px;
  }
  .st_about .bx_about p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 25px;
    text-align: left;
  }
  .st_company_profile {
    background: url(../img/bkg_profile.jpg) fixed center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 67px 0 70px;
    position: relative;
    z-index: 2;
  }
  .st_company_profile .overplay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  .st_company_profile .main_company_profile .bx_custom_w {
    text-align: center;
  }
  .st_company_profile .main_company_profile .bx_custom_w span {
    color: #fff;
    font-size: 1.5rem;
    margin: 20px 0 10px;
    display: block;
  }
  .st_company_profile .main_company_profile .bx_custom_w > p {
    font-size: 2rem;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  .st_business_ctn {
    background-color: #000;
    padding: 49px 0 60px;
  }
  .st_business_ctn .bx_business {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 45px  0 -30px -18px;
  }
  .st_business_ctn .bx_business li {
    width: -webkit-calc(50% - 18px);
    width: -moz-calc(50% - 18px);
    width: calc(50% - 18px);
    margin: 0 0 30px 18px;
  }
  .st_business_ctn .bx_business li a {
    display: block;
  }
  .st_business_ctn .bx_business li a span {
    font-size: 1.5rem;
    display: block;
    line-height: 25px;
    color: #fff;
    margin-bottom: 20px;
    padding-left: 10px;
    text-transform: uppercase;
  }
  .st_business_ctn .bx_business li img {
    width: 100%;
    height: 298px;
    object-fit: cover;
  }
  /** About **/
  .st_page_about {
    background: url(../img/about/bkg_about.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 60px 0 116px;
    position: relative;
    z-index: 2;
  }
  .st_page_about .overplay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  .st_page_about .ttl_section {
    margin-bottom: 55px;
  }
  .st_page_about .bx_about li {
    background-color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 72px 0 90px;
  }
  .st_page_about .bx_about li:not(:last-child) {
    margin-bottom: 42px;
  }
  .st_page_about .bx_about li p {
    font-size: 1.5rem;
    line-height: 25px;
    color: #fff;
    width: -webkit-calc(100% - 348px);
    width: -moz-calc(100% - 348px);
    width: calc(100% - 348px);
    padding: 0 20px 0 0;
  }
  .st_page_about .bx_about li figure {
    width: 348px;
  }
  .st_page_about .bx_about li figure img {
    width: 348px;
    height: 231px;
    object-fit: cover;
  }
  /** Business **/
  .st_page_business {
    background: url(../img/business/bkg_business.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 60px 0;
    position: relative;
    z-index: 2;
  }
  .st_page_business .overplay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .st_page_business .ttl_section {
    margin-bottom: 55px;
  }
  .st_page_business .bx_business li {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .st_page_business .bx_business li:not(:last-child) {
    margin-bottom: 24px;
  }
  .st_page_business .bx_business li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .st_page_business .bx_business li figure {
    width: 295px;
  }
  .st_page_business .bx_business li span {
    font-size: 2.5rem;
    line-height: 25px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    width: -webkit-calc(100% - 295px);
    width: -moz-calc(100% - 295px);
    width: calc(100% - 295px);
    padding-left: 104px;
  }
  /** Comany Profile **/
  .st_page_profile .overplay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .st_page_profile .ttl_section {
    margin-bottom: 0;
    padding: 46px 0 79px;
    background-color: #000;
  }
  .st_page_profile .ttl_section span {
    text-align: left;
    display: block;
  }
  .st_page_profile .main_company_profile {
    text-align: left;
    background: url(../img/company/bkg_company.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 45px 0 73px;
    position: relative;
    z-index: 2;
  }
  .st_page_profile .main_company_profile span {
    color: #fff;
    font-size: 1.5rem;
    margin: 20px 0 10px;
    display: block;
  }
  .st_page_profile .main_company_profile p {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
  }
  footer {
    background-color: #000;
  }
  footer .main_footer {
    padding: 50px 0 60px;
  }
  footer .main_footer .nav_footer {
    text-align: center;
  }
  footer .main_footer .nav_footer ul li {
    display: inline-block;
    margin-right: 60px;
  }
  footer .main_footer .nav_footer ul li a {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    z-index: 99;
    background: #000;
    width: 100%;
    top: 0;
    left: 0;
  }
  .header .main_header .bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.60417vw 0;
    position: relative;
  }
  .header .main_header .bottom .left h1 {
    font-size: 3.64583vw;
    line-height: 5.20833vw;
    font-family: 'Arial';
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    width: 52.08333vw;
  }
  .header .main_header .bottom .left h1 a {
    color: #fff;
  }
  .header .main_header .bottom .right .menu_sp {
    display: inline-block;
  }
  .header .main_header .bottom .right .menu_sp .icon_menu {
    position: relative;
    display: inline-block;
    width: 6.51042vw;
    height: 6.51042vw;
  }
  .header .main_header .bottom .right .menu_sp .icon_menu .icon_inner {
    position: absolute;
    width: 6.51042vw;
    height: 0.39063vw;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -moz-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-duration: .1s;
       -moz-transition-duration: .1s;
            transition-duration: .1s;
    transition-property: -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    transition-property: transform,-webkit-transform;
    background-color: #fff;
  }
  .header .main_header .bottom .right .menu_sp .icon_menu .icon_inner:before, .header .main_header .bottom .right .menu_sp .icon_menu .icon_inner:after {
    position: absolute;
    width: 6.51042vw;
    height: 0.39063vw;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -moz-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-duration: .1s;
       -moz-transition-duration: .1s;
            transition-duration: .1s;
    transition-property: -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    transition-property: transform,-webkit-transform;
    background-color: #fff;
  }
  .header .main_header .bottom .right .menu_sp .icon_menu .icon_inner {
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -moz-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-duration: .3s;
       -moz-transition-duration: .3s;
            transition-duration: .3s;
    top: 50%;
    display: block;
  }
  .header .main_header .bottom .right .menu_sp .icon_menu .icon_inner:before, .header .main_header .bottom .right .menu_sp .icon_menu .icon_inner:after {
    content: '';
    display: block;
  }
  .header .main_header .bottom .right .menu_sp .icon_menu .icon_inner:before {
    top: -1.5625vw;
    -webkit-transition: top .1s .34s ease-in,opacity .1s ease-in;
    -moz-transition: top .1s .34s ease-in,opacity .1s ease-in;
    transition: top .1s .34s ease-in,opacity .1s ease-in;
  }
  .header .main_header .bottom .right .menu_sp .icon_menu .icon_inner:after {
    bottom: -1.5625vw;
    transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .header .main_header .bottom .right .menu_sp .icon_menu.open .icon_inner {
    -webkit-transition-delay: .14s;
       -moz-transition-delay: .14s;
            transition-delay: .14s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
     -ms-transform: rotate(225deg);
         transform: rotate(225deg);
  }
  .header .main_header .bottom .right .menu_sp .icon_menu.open .icon_inner:before {
    top: 0;
    -webkit-transition: top .1s ease-out,opacity .1s .14s ease-out;
    -moz-transition: top .1s ease-out,opacity .1s .14s ease-out;
    transition: top .1s ease-out,opacity .1s .14s ease-out;
    opacity: 0;
  }
  .header .main_header .bottom .right .menu_sp .icon_menu.open .icon_inner:after {
    bottom: 0;
    transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -moz-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -moz-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
         transform: rotate(-90deg);
  }
  .header .main_header .bottom .right .nav_menu {
    position: absolute;
    width: 100vw;
    height: 0;
    top: 0;
    left: -2.60417vw;
    z-index: 99;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .header .main_header .bottom .right .nav_menu.open {
    visibility: visible;
    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
            backface-visibility: visible;
    opacity: 1;
  }
  .header .main_header .bottom .right .nav_menu ul li a {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 3.38542vw;
    font-weight: 400;
    font-family: "Lora", serif;
    line-height: 1;
    color: #fff;
    display: block;
    padding: 2.60417vw 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  .header .main_header .bottom .right .nav_menu ul li a.tel {
    margin-right: 10.41667vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .main_header .bottom .right .nav_menu ul li a.tel::before {
    position: relative;
    content: "";
    width: 2.60417vw;
    height: 2.60417vw;
    background: url("../img/icon_phone.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-right: 1.95313vw;
  }
  .header .main_header .bottom .right .nav_menu ul li a.mail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .main_header .bottom .right .nav_menu ul li a.mail::before {
    position: relative;
    content: "";
    width: 2.60417vw;
    height: 2.08333vw;
    background: url("../img/icon_envelop.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    margin-right: 1.95313vw;
  }
  html {
    font-size: 1.30208vw;
  }
  img {
    width: 100%;
    height: auto;
  }
  .show_pc {
    display: none !important;
  }
  .wrapper {
    min-width: 320px;
  }
  .row {
    padding: 0 2.60417vw;
  }
  .ttl_section {
    font-size: 5.20833vw;
    font-weight: bold;
    font-family: Arial;
    line-height: 1;
    margin-bottom: 3.90625vw;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  /** Home Page **/
  .st_banner {
    background: url(../img/bkg_banner.jpg) no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 6.51042vw 0;
  }
  .st_banner h2 {
    font-size: 5.20833vw;
    font-weight: bold;
    text-shadow: -2px 2px #000;
    color: #fff;
    text-align: center;
    font-family: Arial;
    line-height: 6.51042vw;
  }
  .st_banner p {
    font-size: 2.86458vw;
    color: #fff;
    line-height: 5.20833vw;
    color: #fff;
    text-align: center;
    padding: 3.90625vw 0;
    margin: 3.90625vw 0;
    background: url(../img/bkg_txt_banner.png) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
  }
  .st_banner a {
    font-size: 2.34375vw;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    display: block;
    width: 23.4375vw;
    margin: 3.90625vw auto 0;
    padding: 2.60417vw 0;
    line-height: 1;
    color: #000;
    background-color: #f5f5f5;
  }
  .st_about {
    background-color: #000;
    padding: 6.51042vw 0;
  }
  .st_about pre {
    font-size: 3.125vw;
    line-height: 5.20833vw;
    text-align: center;
    color: #fff;
  }
  .st_about .bx_about {
    margin: 7.8125vw 0;
    position: relative;
    /* &:before{
      content:"";
      background: url(../img/line_bk.png) no-repeat;
      background-size: contain;
      width: vw(750);
      height: 1px;
      position: absolute;
      top: vw(-45);
      left: 50%;
      transform: translateX(-50%);
    } */
  }
  .st_about .bx_about li {
    text-align: center;
    margin-bottom: 5.20833vw;
  }
  .st_about .bx_about li span {
    font-size: 3.64583vw;
    line-height: 5.20833vw;
    color: #000;
    background-color: #fff;
    width: 13.02083vw;
    height: 13.02083vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 100%;
         border-radius: 100%;
    overflow: hidden;
    font-weight: bold;
    margin: 0 auto 3.90625vw;
  }
  .st_about .bx_about p {
    color: #fff;
    font-size: 3.125vw;
    line-height: 5.20833vw;
    text-align: center;
  }
  .st_company_profile {
    background: url(../img/bkg_profile.jpg) fixed center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 6.51042vw 0;
    position: relative;
    z-index: 2;
  }
  .st_company_profile .overplay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  .st_company_profile .main_company_profile .bx_custom_w {
    text-align: center;
  }
  .st_company_profile .main_company_profile .bx_custom_w span {
    color: #fff;
    font-size: 3.125vw;
    line-height: 5.20833vw;
    margin: 3.90625vw 0 1.30208vw;
    display: block;
  }
  .st_company_profile .main_company_profile .bx_custom_w > p {
    font-size: 3.25521vw;
    line-height: 5.20833vw;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  .st_business_ctn {
    background-color: #000;
    padding: 6.51042vw 0;
  }
  .st_business_ctn p {
    font-size: 3.125vw;
    line-height: 5.20833vw;
    text-align: center;
    color: #fff;
  }
  .st_business_ctn .bx_business {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 7.8125vw 0 -5.20833vw -1.30208vw;
  }
  .st_business_ctn .bx_business li {
    width: -webkit-calc(50% - 1.30208vw);
    width: -moz-calc(50% - 1.30208vw);
    width: calc(50% - 1.30208vw);
    margin: 0 0 5.20833vw 1.30208vw;
  }
  .st_business_ctn .bx_business li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .st_business_ctn .bx_business li a span {
    font-size: 3.125vw;
    display: block;
    line-height: 5.20833vw;
    color: #fff;
    margin-bottom: 2.60417vw;
    padding-left: 1.95313vw;
    text-transform: uppercase;
  }
  .st_business_ctn .bx_business li img {
    width: 46.74479vw;
    height: 36.45833vw;
    object-fit: cover;
  }
  /** About **/
  .st_page_about {
    background: url(../img/about/bkg_about.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 7.8125vw 0 13.02083vw;
    position: relative;
    z-index: 2;
  }
  .st_page_about .overplay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
  .st_page_about .ttl_section {
    margin-bottom: 5.20833vw;
  }
  .st_page_about .bx_about li {
    background-color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5.20833vw 5.20833vw;
  }
  .st_page_about .bx_about li:not(:last-child) {
    margin-bottom: 3.90625vw;
  }
  .st_page_about .bx_about li figure img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .st_page_about .bx_about li p {
    font-size: 3.125vw;
    line-height: 5.20833vw;
    color: #fff;
    margin-bottom: 5.20833vw;
  }
  /** Business **/
  .st_page_business {
    background: url(../img/business/bkg_business.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 7.8125vw 0;
    position: relative;
    z-index: 2;
  }
  .st_page_business .overplay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .st_page_business .ttl_section {
    margin-bottom: 5.20833vw;
  }
  .st_page_business .bx_business {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 7.8125vw 0 -5.20833vw -1.30208vw;
  }
  .st_page_business .bx_business li {
    width: -webkit-calc(50% - 1.30208vw);
    width: -moz-calc(50% - 1.30208vw);
    width: calc(50% - 1.30208vw);
    margin: 0 0 5.20833vw 1.30208vw;
  }
  .st_page_business .bx_business li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .st_page_business .bx_business li a span {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 3.125vw;
    display: block;
    line-height: 5.20833vw;
    color: #fff;
    margin-bottom: 2.60417vw;
    padding-left: 1.95313vw;
    text-transform: uppercase;
  }
  .st_page_business .bx_business li figure {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 46.74479vw;
  }
  .st_page_business .bx_business li figure img {
    width: 100%;
    height: 36.45833vw;
    object-fit: cover;
  }
  /** Comany Profile **/
  .st_page_profile .overplay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .st_page_profile .ttl_section {
    margin-bottom: 0;
    padding: 5.20833vw 0;
    background-color: #000;
    text-align: left;
  }
  .st_page_profile .main_company_profile {
    text-align: left;
    background: url(../img/company/bkg_company.jpg) center center no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    padding: 6.51042vw 0;
    position: relative;
    z-index: 2;
  }
  .st_page_profile .main_company_profile span {
    color: #fff;
    font-size: 3.125vw;
    line-height: 5.20833vw;
    margin: 3.90625vw 0 1.30208vw;
    display: block;
  }
  .st_page_profile .main_company_profile p {
    font-size: 3.25521vw;
    line-height: 5.20833vw;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
  }
  footer {
    background-color: #000;
  }
  footer .main_footer {
    margin: 0 auto;
    padding: 3.90625vw 0;
  }
  footer .main_footer .nav_footer {
    text-align: center;
    margin-top: 2.60417vw;
  }
  footer .main_footer .nav_footer ul li {
    display: block;
    padding: 1.95313vw 0;
  }
  footer .main_footer .nav_footer ul li:not(:last-child) {
    border-bottom: 1px dotted #ccc;
  }
  footer .main_footer .nav_footer ul li a {
    color: #fff;
    font-size: 3.38542vw;
    text-transform: uppercase;
  }
}
